.shadow_wrapper {
  border-radius: 8px;
  overflow: hidden;
  min-width: 850px;
  height: 702px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #737374;
  border-left: 1px solid #464648;
  border-right: 1px solid #464648;
  border-bottom: 1px solid #464648;
  box-shadow: 0 0 0 1px #1A1A1A, 0 8px 20px 6px #888;
}